.reviews_parent {
  width: $per;
  height: $vh;
  background: rgb(31, 30, 30);
  display: $f;
  justify-content: $c;
  align-items: $c;
  flex-direction: $cl;
  position: $re;
  h3 {
    color: #fff;
    position: absolute;
    top: 10%;
    font-size: 50px;
  }
  &::before {
    content: "TESTIMONIAL";
    font-size: 200px;
    font-family: $font;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: $c;
    display: $f;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
  }
  &::after {
    content: "TESTIMONIAL";
    font-size: 200px;
    font-family: $font;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: $c;
    display: $f;
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
  }
  .handle_numbers {
    position: $re;
    h1 {
      position: absolute;
      top: 200px;
      left: 0;
      color: #fff;
      font-size: 200px;
      z-index: 99;
      mix-blend-mode: difference;
      
    }
  }
  position: $re;
  .reviews_child {
    display: $f;
    justify-content: $c;
    align-items: $c;
    width: $perhelf;
    position: absolute;
    left: 50%;
    .each_rev_child {
      z-index: 9;
      width: 360px;
      max-width: 360px;
      min-width: 360px;
      height: auto;
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      text-align: $c;
      color: #000;
      padding: $padd;
      margin: 0 20px 0 20px;
      transition: transform ease-out 400ms;
      pointer-events: none;
      p {
        width: $per;
        font-weight: 300;
        font-family: $ro;
      }
      img {
        object-fit: $cv;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  .reviews_parent {
    width: $per;
    height: $vh;
    position: $re;
    padding: $padd;
    &::before {
      content: "TESTIMONIAL";
      font-size: 150px;
    }
    &::after {
      content: "TESTIMONIAL";
      font-size: 150px;
    }
    h3 {
      color: #fff;
      position: absolute;
      top: 10%;
      font-size: 50px;
    }

    .handle_numbers {
      position: $re;
      h1 {
        position: absolute;
        top: 200px;
        left: 0;
        color: #fff;
        font-size: 100px;
        z-index: 99;
        mix-blend-mode: difference;
      }
    }
    position: $re;
    .reviews_child {
      display: $f;
      justify-content: $c;
      align-items: $c;
      width: $perhelf;
      position: absolute;
      left: 50%;
      .each_rev_child {
        z-index: 9;
        width: 300px;
        max-width: 300px;
        min-width: 300px;
      }
    }
  }
}
@media only screen and (max-width: 620px) {
  .reviews_parent {
    width: $per;
    height: $per;
    position: $re;
    padding: $padd;
    &::before {
      content: "TESTIMONIAL";
      font-size: 50px;
    }
    &::after {
      content: "TESTIMONIAL";
      font-size:50px;
    }
    h3 {
      color: #fff;
      position: absolute;
      top: 10%;
      font-size: 50px;
    }
    .handle_numbers {
      position: $re;
      h1 {
        position: absolute;
        top: 200px;
        left: 0;
        color: #fff;
        font-size: 100px;
        z-index: 99;
        mix-blend-mode: difference;
      }
    }
    position: $re;
    .reviews_child {
      display: $f;
      justify-content: $c;
      align-items: $c;
      flex-direction: $cl;
      width: $perhelf;
      position: $re;
      left: 0%;
      .each_rev_child {
        z-index: 9;
        width: 300px;
        max-width: 300px;
        min-width: 300px;
      }
    }
  }
}
