@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
$f: flex;
$c: center;
$cl: column;
$vh: 100vh;
$per: 100%;
$b: bold;
$cv: cover;
$re: relative;
$sp: space-around;
$perhelf: 80%;
$po: "Poppins", sans-serif;
$ro: "Roboto", sans-serif;
$n: none;
$padd: 20px 0 20px 0;
$font: "Teko", sans-serif;
@import "./Hero.module";
@import "./Galley.module";
@import "./Ourstory.module";
@import "./Ourservices.module";
@import "./contactus.module";
@import "./footer.module";
@import "./privacypolicy.module";
@import "./termofservices.module";
@import "./contactus.module";
@import "./Reviews.module";
